

body{

    background-color: #EEEEEE;
    font-family: Verdana, Arial, serif;
    font-size: 125%;
    max-width: 100%;


}

main{
    width: 100%;
    max-height: 100vh;
    
    display: grid;

    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 2fr 40px;

}


header{
    grid-column: 2;
}

figure{
    text-align: center;
}

figure figcaption{
    font-size: 12px;
}

header img{
    width:450px;
    height: 337px;
    border: solid black 3px;
}

h1{
    text-align: center;
    color: #4875a8;
}

/* nav bar background and links */
nav{
    background-color: #333;
    height: 80px;
    min-width: 950px;
    font-size: 120%;
}

nav li{
    display: inline;
    padding: 20px;
    line-height: 80px;
}

nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

nav a{
    text-decoration: none;
    list-style: none;
    color: white;
    text-transform: uppercase;
    padding: 13px;
    float: none;
}

nav a:hover{
    background: #4875a8;
    transition: 1s;
}

nav a.active{
    background: #4875a8;
}


/* section - styling, will contain articles and asides */
section{
    grid-column: 2;

    background-color: white;
    padding: 15px;
    margin-bottom: 100px;
}

h2{
    color: #4b4b52;
}

article ul{
    clear: both;
    margin-bottom: 50px;
    line-height: 1.5;
}

article ul a{
    text-decoration: none;
}

article aside ul{
    line-height: 1.25;
}

.with-aside{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto;

}

.with-aside p{
    grid-column: 1;
}

aside{

    text-decoration: none;

}

.logo{
    border: 1px solid black;
    margin-bottom: 15px;
}




/* article - styling */
h3{
    grid-column: 1;
    color: #4465b8;
    margin: 0;
    line-height: 10px;
}

h4{

    margin-bottom: 0;
    color: #284c75;
    line-height: 10px;
}


article li:hover{
    background-color: #c3e6e5;
    transition: .25s;
}


aside h4{
    margin-left: 40px;
    color: #e03838;
}

aside ul{
    list-style: none;
}

aside a{
    text-decoration: none;
}

aside li{
    padding-bottom: 20px;
}

table{
    grid-row: 4;
}

th, td{
    padding: 5px 10px;
}

th{
    text-transform: uppercase;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}

tr{
    text-align: right;
}

td.mountain-name{
    text-align: left;
}

tr.even{
    background-color: lightgray;
}

tr:hover{
    background-color: #c3e6e5;
    transition: .25s;
}

#music-list{
    display: grid;
    grid-template-columns: 60% 40%;
}

iframe{
    margin-top: 15px;
}

footer{
    background-color: #aaaeb3;
    font-size: 18px;
    grid-column: 1 / 4;
    line-height: .25;

    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;



}

#footer-left{
    grid-column: 1;
    display: inline-block;
}

#footer-center{
    grid-column: 2;
    display: inline-block;
    text-align: center;
}

#footer-right{
    grid-column: 3;
    display: inline-block;
    text-align: right;
}



.printed-from{
    display: none;
}








