

body{

    background-color: #EEEEEE;
    font-family: Verdana, Arial, serif;
    font-size: 125%;

}

#main{

    max-height: 100vh;

    display: grid;
    display: -ms-grid;

    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 2fr 40px;

    -ms-grid-columns: 1fr 2.5fr 1fr;
    -ms-grid-rows: auto auto auto;

}


header{
    grid-column: 2;

    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

figure{
    text-align: center;
}

figure figcaption{
    font-size: 12px;
}

header img{
    width:400px;
    height: 300px;
    border: solid black 3px;
}

h1{
    text-align: center;
    color: #4875a8;
    margin-top: -.25em;
    margin-bottom: .25em;
}

/* PUT NAV STUFF HERE */
nav{
    background-color: #333;
    font-size: 1.5em;
    min-width: 28em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
nav ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    position: relative;
    float: left;
    padding: .5em;

}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    transition: all ease 0.3s;
}
nav ul li.dropdown ul{

    position: absolute;
    left: 0;
    display: none;
}



nav ul li.dropdown ul a{
    font-size: .75em;
    padding: .25em;

}


nav ul li.dropdown:hover ul{
    display: block;
    background-color: #333;

}

nav a:hover{
    background: #4875a8;
    transition: 1s;
}

nav a.active{
    background: #4875a8;
}




/* section - styling, will contain articles and asides */
section{
    -ms-grid-column: 2;
    -ms-grid-row: 2;

    grid-column: 2;

    background-color: white;
    padding: 15px;
    margin-bottom: 100px;
}


h2{
    color: #4b4b52;
    margin: 0 0 .5em 0;
}

article ul{
    clear: both;
    margin-bottom: 50px;
    line-height: 1.5;
}

article ul a{
    text-decoration: none;
}

article aside ul{
    line-height: 1.25;
}


@media screen and (min-width: 1100px){
    .with-aside{
        display: grid;
        display: -ms-grid;
        grid-template-columns: 70% 30%;
        -ms-grid-columns: 70% 30%;
    }
}


article{
    margin-bottom: 2em;
}


.with-aside p{
    grid-column: 1;
    margin-right: 1em;
}

aside{
    text-decoration: none;
    border: solid lightsteelblue;
    padding: 0;
    -ms-grid-column: 2;
}

.logo{
    border: 1px solid black;
    margin-bottom: 15px;

}




/* article - styling */
h3{
    grid-column: 1;
    color: #4465b8;
    margin: 0;
    line-height: 1em;
}

h4{

    margin-bottom: 0;
    color: #284c75;
    line-height: 1em;
}


article li:hover{
    background-color: #c3e6e5;
    transition: .25s;
}



aside h4{
    margin: 1em;
    color: #e03838;
}

aside ul{
    list-style: none;
    padding-left: 20px;

}

aside a{
    text-decoration: none;
}

aside li{
    margin-bottom: 2em;

}

table{
    margin-top: 1em;
    grid-row: 3;
    -ms-grid-row: 3;

}


th, td{
    padding: 5px 10px;
}

th{
    text-transform: uppercase;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}

.sticky-header th{
    position: sticky;
    top: 0;
    background-color: #3e4d5e;
    color: white;
}

tr{
    text-align: right;
}

td.row-name{
    text-align: left;
}

table tbody tr:nth-child(even) td {
    background-color: lightgray;
}

tr:hover{
    background-color: #c3e6e5;
    transition: .25s;
}



iframe{
    margin-top: 15px;
}

footer{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;

    background-color: #aaaeb3;
    font-size: 18px;
    grid-column: 1 / 4;
    line-height: .25;

    grid-row: 3 / 4;

    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;

}

#footer-left{
    grid-column: 1;
    -ms-grid-column: 1;
    display: inline-block;
}

#footer-center{
    grid-column: 2;
    -ms-grid-column: 2;
    display: inline-block;
    text-align: center;
}

#footer-right{
    grid-column: 3;
    -ms-grid-column: 3;
    display: inline-block;
    text-align: right;
}

.printed-from{
    display: none;
}


#covid-dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;

    grid-gap: 5px;
    text-align: center;
}

#covid-dashboard .header{
    grid-column-start: span 3;
    text-align: left;
    padding-top: 1em;
}

#covid-dashboard img{
    height: 1em;
    width: 1.5em;
}

#covid-dashboard #globe{
    height: 1.5em;
    width: 1.5em;
}

#covid-dashboard #usa-cases, #usa-deaths, #usa-recovered, #global-cases, #global-deaths, #global-recovered{
    border: solid black 1px;
    padding: 5px;
}

#deaths{
    color: red;
}

#recovered{
    color: green;
}

#covid-p{
    margin-top: 5px;
}

.covid-header{
    display: inline-block;
}

#MA-updated, #global-updated{
    font-size: .75em;
}

#inputValue{
    height: 40px;
    width: 200px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    padding: 0;
    margin: 0;
}

#inputValue-todo{
    height: 40px;
    width: 400px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 0;
    margin: 0;
}


#inputValue:placeholder-shown{
    font-size: 15px;
    text-transform: initial;
}

#btn{
    height: 40px;
    width: 100px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 0;
    margin: 0;
}


#stocks-dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    text-align: center;
}

#stocks-dashboard .header{
    grid-column-start: span 3;
    text-align: left;
    padding-top: 1em;
}

#stocks-dashboard #dow, #sp500, #nasdaq, #global-cases, #global-deaths, #global-recovered{
    border: solid black 1px;
    padding: 5px;
}

#stock-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

#stock-display{
    grid-column-start: 1;
    border: solid black 1px;
    display: none;
    padding: 10px;
}

#todo-list{
    list-style: none;
    padding: 0;
    width: 500px;
    line-height: 1.5em;
}

#todo-list li{
    display: grid;
    grid-template-columns: 400px auto auto;
    margin: .25em;
    background-color: white;
    padding: 5px;
    border: lightgray solid;
}

.todo-buttons{
    height: 25px;
    width: 25px;

}

#trash{
    padding-top: 5px;
    padding-right: 10px;
    margin-left: 15px;

}


.done{
    transition: opacity .5s;
    opacity: 50%;
    background-color: #dfffd3;

}

.done #todo-item{
    text-decoration: line-through;
}


