body{
    background-color: #EEEEEE;
    width: 90%;
    max-width: 1000px;
    min-width: 900px;
    margin-right: auto;
    margin-left: auto;
    font-family: Verdana;

}

nav{
    background-color: #333;
    height: 80px;
    min-width: 900px;
}


nav li{
    display: inline;
    margin-left: 45px;
    padding: 10px;
    line-height: 80px;


}

nav a{
    text-decoration: none;
    list-style: none;
    color: white;
    text-transform: uppercase;
    padding: 13px;
    float: none;
}

nav a:hover{
    background: #ab9bff;
    transition: .5s;
}

h1{
    text-align: center;
}

figure{
    text-align: center;
}

figure figcaption{
    font-size: 12px;
}

img{
    width:450px;
    height: 337px;
}

footer p{
    clear: both;
    line-height: .25;
}

article h3, h4{
    clear: both;
    line-height: 10px;
    margin-bottom: 10px;
}

article h4{
    line-height: 0px;
    margin-bottom: 0px;
}


article ul{
    clear: both;
    margin-bottom: 50px;
}

article p{
    float: left;
    width: 70%;
    margin-bottom: 30px;
}

.no-asside p{
    width: 100%;
}

aside{
    display: inline-block;
    float: right;
    width: 30%;
}

hr{
    clear: both;
}

table {
    clear: both;
}

.hidden{
    opacity: 0;
}

th, td{
    padding: 5px 10px;
}

th{
    text-transform: uppercase;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}

tr{
    text-align: right;
}

.mountain-name td{
    text-align: left;
}

tr.even{
    background-color: lightgray;
}

tr:hover{
    background-color: #c3e6e5;
}