body{
    background-color: #EEEEEE;
    max-width: 1000px;
    min-width: 900px;
    margin-right: auto;
    margin-left: auto;
    font-family: Verdana, Arial, serif;
    font-size: 125%;
}


nav{
    background-color: #333;
    height: 80px;
    min-width: 950px;
    font-size: 120%;
}


nav li{
    display: inline;
    padding: 20px;
    line-height: 80px;
}

nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

nav a{
    text-decoration: none;
    list-style: none;
    color: white;
    text-transform: uppercase;
    padding: 13px;
    float: none;
}

nav a:hover{
    background: #4875a8;
    transition: .5s;
}

h1{
    text-align: center;
    color: #4875a8;
}

figure{
    text-align: center;
}

figure figcaption{
    font-size: 12px;
}

header img{
    width:450px;
    height: 337px;
}

.logo{
    border: 1px solid black;
    display: inline;
    float: left;
    margin-right: 250px;
    margin-bottom: 20px;
}

footer{
    position:absolute;
    left:0;
    right:0;
    overflow: hidden;
    background-color: #aaaeb3;
}

footer p{
    clear: both;
    line-height: .25;

}

#footer-left{
    text-align: left;
    float: left;
    width: 33.3%;

}
#footer-center{
    float: left;
    text-align: center;
    width: 33.3%;

}
#footer-right{
    float: right;

}


.printed-from{
    display: none;
}

article h3, h4{
    clear: both;
    line-height: 10px;
    margin-bottom: 10px;
    color: #4465b8;
}

article h4{
    line-height: 0px;
    margin-bottom: 0px;
    color: #284c75;
}

h2{
    color: #4b4b52;
}

article ul{
    clear: both;
    margin-bottom: 50px;
}

section{
    background-color: white;
    overflow: hidden;
    padding: 15px;
}

article p{
    float: left;
    width: 70%;
    margin-bottom: 40px;
    line-height: 1.25;
}

.no-aside p{
    width: 100%;
}

aside {
    display: inline-block;
    width: 30%;
    text-decoration: none;
}

aside h4{
    margin-left: 40px;
    color: #e03838;
}

aside ul{
    list-style: none;
}

aside a{
    text-decoration: none;
}

aside li{
    padding-bottom: 20px;
}

hr{
    clear: both;
}

table {
    clear: both;
    float: left;
    width: 70%;

}

.hidden{
    opacity: 0;
}

th, td{
    padding: 5px 10px;
}

th{
    text-transform: uppercase;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}

tr{
    text-align: right;
}

td.mountain-name{
    text-align: left;
}

tr.even{
    background-color: lightgray;
}

tr:hover{
    background-color: #c3e6e5;
}

iframe{
    margin-top: 20px;
}





