<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue To-Do</title>
    <link rel="stylesheet" type="text/css" href="css/grid.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/printstyle.css" media="print">
    <script defer src="js/time.js"></script>
</head>
<body>

<!-- This HTML5 main element was needed to keep the footer at the bottom of the page on mobile-->
<main>
    <!-- This HTML5 header element will contain a picture, title of the page, and the nav element -->
    <header>
        <figure>
            <img src="images/todo.jpg" alt="Picture of checklist" title="Picture of checklist"
                 width="600" height="450"/>
            <figcaption><span>Photo by <a href="https://unsplash.com/@glenncarstenspeters?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Glenn Carstens-Peters</a> on <a href="https://unsplash.com/s/photos/checklist?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></span></figcaption>
        </figure>

        <h1>Vue To-Do</h1>

        <!-- This HTML5 nav element will contain the nav bar -->
        <nav>
            <ul>
                <li><a href="index.html">Home</a> </li>
                <li><a href="academic.html">School</a> </li>
                <li><a href="professional.html">Work</a> </li>
                <li class="dropdown">
                    <a href="#">Play</a>
                    <ul>
                        <li><a href="hiking.html">Hiking</a></li>
                        <li><a href="music.html">Music</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="active">Apps</a>
                    <ul>
                        <li><a href="weather.html">Weather</a></li>
                        <li><a href="stocks.html">Stocks</a></li>
                        <li><a href="covid.html">Covid</a></li>
                        <li><a href="todo.html" class="active">To-Do</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <hr>
    </header>

    <!-- This HTML5 section element will my article(s) for this page -->
    <section>
        <h2>Vue To-Do App</h2>

        <div id="app">
            <form id="form" @submit.prevent="addToDo">
                <input type="text" id="inputValue-todo" placeholder="What do I need to do..." v-model="newToDo">
                <input type="submit" value="Add" id="btn">
            </form>

            <ul id="todo-list">
                <li v-for="todo in todos">
                    <span :class="{done: todo.done}">{{todo.title}}</span>
                    <input type="checkbox" v-model="todo.done">
                </li>
            </ul>

        </div>

    </section>

    <!--Include Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!--Create Vue instance-->
    <script>
        /*jshint esversion: 6 */

        let app = new Vue({
            el: '#app',

            data: {
                newToDo: '',
                todos: [],
            },

            methods: {
                addToDo() {
                    this.todos.push({
                        title: this.newToDo,
                        done: false
                    });

                    this.newToDo = '';
                }
            }

        })
    </script>


    <!-- This HTML5 footer element will contain my name, email, and last updated date, as well as printed from line -->
    <footer>
        <div id="footer-left"><p>&copy; 2020 Henry Choy</p></div>
        <div id="footer-center"><p><a href="mailto:henrychoy@gmail.com">henrychoy@gmail.com</a></p></div>
        <div id="footer-right"><p id="last-updated"></p></div>
        <p class="printed-from">Printed from http://henrychoy.com/</p>
    </footer>

</main>
</body>



</html>